<configuration>
  <system.webServer>
    <rewrite>
      <rules>
                <clear />
                <rule name="Debug" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="node_modules/actionhero/bin/actionhero/debug*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="None" />
                </rule>
                <rule name="app" patternSyntax="Wildcard">
                    <match url="*" negate="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="node_modules/actionhero/bin/actionhero" />
                </rule>
      </rules>
    </rewrite>
    <handlers>
      <add name="iisnode" path="node_modules/actionhero/bin/actionhero" verb="*" modules="iisnode" />
    </handlers>
    <iisnode enableXFF="true" promoteServerVars="LOGON_USER" nodeProcessCommandLine="C:\Program Files (x86)\nodejs\node.exe" />
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin" />
        </hiddenSegments>
      </requestFiltering>
            <authorization>
                <remove users="*" roles="" verbs="" />
                <add accessType="Allow" users="*" />
            </authorization>
    </security>
	<httpProtocol>
		<customHeaders>
		</customHeaders>
	</httpProtocol>
  </system.webServer>
	<appSettings>
      <add key="ACTIONHERO_CONFIG" value="config" />
      <add key="PROJECT_ROOT" value="D:\simbot\" />
	    <add key="NODE_TLS_REJECT_UNAUTHORIZED" value="0" />
	    <add key="NODE_ENV" value="dev" />
      <add key="FAKEREDIS" value="false" />
	</appSettings>
</configuration>

